<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style-form.css' %}">
    <meta charset="utf-8" />
</head>




<h1>RECOLTER MONTREAL</h1>
<h2>- - FORMULAIRE PROFIL D’ORGANISME --</h2>


{% if envoi %}<p class="validation">Votre formulaire a bien été envoyé !</p>{% endif %}


{% if not envoi %}


<h3>SAISON 2017</h3>
<p>Bienvenue sur votre plateforme d’évaluation collective!</p><p>Nous vous invitons à créer votre profil d’organisme lors de votre première visite sur la plateforme « Récolter Montréal ». Vos réponses nous permettront de mieux cerner les différents acteurs communautaires et organisationnels dans le milieux de l’agriculture urbaine à Montréal. Ces données resteront confidentielles et anonymes et serviront à l’évaluation de vos activités, dont les résultats vous seront disponibles à la fin de la saison. Colligées avec les données de l’ensemble des organismes participants, elles serviront aussi à dresser un portait des retombées de l’agriculture urbaine à Montréal qui sera accessible au public sur la vitrine principale de la plateforme.</p>
</p>

<form action="/profil/" method="post">
    {% csrf_token %}
    {% for field in form2 %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <p><input type="submit" value="Envoyer le questionnaire" /></p>
</form>
{% endif %}
