<!DOCTYPE html>
{% load static %}
{% include "templates/headindex.html" %}


<body class="withbackground">
{% include "navbarperso.html" %}

<div id="main-title">
    Bienvenu(e) dans votre espace personnel !
    <div id="sub-title">
        <ul>


            <li><a href="/profil">Lors de votre première visite sur la plateforme « R&eacute;colter Montréal », merci de remplir vos informations de profil</a></li>
            <li><a href="/questionnairequantitatif">Commencez à rentrer vos donn&eacute;es de production</a></li>
            <li><a href="/voirquestionnairequantitatif">Acceder aux questionnaires remplis</a></li>
            <li><a href="/questionnairequalitatif">Pensez &eacute;galement à remplir notre sondage</a></li>

        </ul>
    </div>
</div>

</body>
</html>

