<!DOCTYPE html>
{% load static %}
{% include "headindex.html" %}


<body class="withbackground">
{% include "navbarperso.html" %}

<div id="main-title">
    Bienvenu(e) dans votre espace personnel !
    <div id="sub-title">






<form action="/voirquestionnaires/" method="get">
    {% csrf_token %}
    {% for form_field in form %}
    <div class="fieldWrapper">
        <a href="/questionnairequantitatif/{{ form_field.id }}"> {{ form_field }}</a>
         {{ field }}
    </div>
    {% endfor %}
</form>


    </div>
</div>

</body>
</html>


