{% load static %}

{% include "headindex.html" %}


<body class="withoutbg">

<div class="background"></div>


{% if error %}
{% include "navbar.html" %}
<h1>Se connecter</h1>
<h3>Si c'est la première fois que vous visitez ce site, veuillez <a href="/creercompte">Cr&eacute;er un compte</a> pour vous connecter</h3>
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% elif user.is_authenticated %}
{% include "navbarperso.html" %}
<h1>Se connecter</h1>
Vous êtes connecté, {{ user.username }} !
{% else %}
{% include "navbar.html" %}
<h1>Se connecter</h1>
<h3>Si c'est la première fois que vous visitez ce site, veuillez <a href="/creercompte">Cr&eacute;er un compte</a> pour vous connecter</h3>
<form class="large" method="post" action="/connexion/">
    {% csrf_token %}
    {{ form3.as_p }}
    <input type="submit" value="Se connecter" />
</form>
{% endif %}

</body>

