<!DOCTYPE html>
{% load static %}

{% include "headindex.html" %}

<body class="withbackground">
{% include "navbar.html" %}


<div id="main-title">
    R&eacute;colter Montr&eacute;al
    <div id="sub-title">
        Visualiser et comprendre les retomb&eacute;es de l'agriculture urbaine
    </div>
</div>
<div id="results">
    <h1>En Chiffres</h1>
    <h2>Ateliers et activités éducatives</h2>
    <div class="row">
        <!-- Available images: culture.png people.png time.png sales.png water.png compost.png -->

        {% load static %}

        <div class="col-md-3"><img src="{% static "img/icons/people.png" %}"/>  <span class="chiffre">{{nombre_educateurs_avg}}</span> <BR /><span class="unite">Participants aux ateliers et aux activités éducatives</div>
        <div class="col-md-3"><img src="{% static "img/icons/people.png" %}"/>  <span class="chiffre">{{nombre_benevoles_avg}}</span> <BR /><span class="unite">Bénévoles impliqués dans l’organisation et la coordination des activités</div>
        <div class="col-md-3"><img src="{% static "img/icons/culture.png" %}"/>  <span class="chiffre">{{nombre_sujets_avg}}</span> <BR /><span class="unite">Ateliers et activités éducatives organisés durant le marché</span></div>
        <div class="col-md-3"><img src="{% static "img/icons/people.png " %}"/>  <span class="chiffre">{{nombre_heures_activite_avg}}</span> <BR /><span class="unite">Participants présents aux ateliers ou activités de cuisine</div>
    </div>
    <BR />
    <h2>Jardinage  collectif</h2>
    <div class="row">
        <div class="col-md-4"><img src="{% static "img/icons/compost.png" %}"/>  <span class="chiffre">20k</span> <BR /><span class="unite">m&#8322; total de jardin</div>
        <div class="col-md-4"><img src="{% static "img/icons/people.png" %}"/>  <span class="chiffre">150</span> <BR /><span class="unite">Participants aux sessions de jardinage collectif</div>
        <div class="col-md-4"><img src="{% static "img/icons/people.png" %}"/>  <span class="chiffre">500</span> <BR /><span class="unite">Bénévoles aux comités du jardin (CA, comités variés ou autres)</div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="{% static "img/icons/culture.png"  %}"/>  <span class="chiffre">12k</span> <BR /><span class="unite">KG de fruits et des légumes récoltés</div>
        <div class="col-md-6"><img src="{% static "img/icons/compost.png"%}"/>  <span class="chiffre">100k</span> <BR /><span class="unite">m&#8322; de jardin en production</div>
    </div>
    <BR />
    <h2>Production  de semis</h2>
    <div class="row">
        <div class="col-md-12"><img src="{% static "img/icons/culture.png" %}"/>  <span class="chiffre">400</span> <BR /><span class="unite">Espèces/variétés de plantules produites</div>
    </div>
    <BR />
    <h2>Activités de marché fermier</h2>
    <!-- Chiffres -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><img src="{% static "img/icons/people.png"%}"/>  <span class="chiffre">30</span> <BR /><span class="unite">Bénévoles impliqués dans l’organisation et la coordination du marché</div>
        <div class="col-md-3"><img src="{% static "img/icons/time.png"%}"/>  <span class="chiffre">40</span> <BR /><span class="unite">Heures de bénévolat requises pour l’organisation et la coordination du marché </div>
        <div class="col-md-3"></div>
    </div>
    <!-- Benefices -->
    <div class="row">
        <div class="col-md-3"><img src="{% static "img/icons/sales.png"%}"/>  <span class="chiffre">2k</span> <BR /><span class="unite">Légumes</div>
        <div class="col-md-3"><img src="{% static "img/icons/sales.png"%}"/>  <span class="chiffre">3k</span> <BR /><span class="unite">Fruits</div>
        <div class="col-md-3"><img src="{% static "img/icons/sales.png"%}"/>  <span class="chiffre">40k</span> <BR /><span class="unite">Jus</div>
        <div class="col-md-3"><img src="{% static "img/icons/sales.png"%}"/>  <span class="chiffre">2.5k</span> <BR /><span class="unite">Alcools</div>
    </div>
</div>

</body>
</html>

